<h2>Alert</h2>

<p>
  <strong>Id:</strong>
  <%= alert.id %>
</p>

<p>
  <strong>Uuid:</strong>
  <%= alert.uuid %>
</p>

<p>
  <strong>Title:</strong>
  <%= alert.title %>
</p>

<p>
  <strong>Location:</strong>
  <%= alert.location %>
</p>

<p>
  <strong>Message:</strong>
  <%= alert.message %>
</p>

<p>
  <strong>Publish at:</strong>
  <%= publish_at %>
</p>

<p>
  <strong>Effective at:</strong>
  <%= effective_at %>
</p>

<p>
  <strong>Expires at:</strong>
  <%= expires_at %>
</p>
